//- partials/head.jade
head
 link( rel="stylesheet" href="/style.css")
 link( rel="stylesheet" href="/menu.css")
 //-  галерея
 link(  href="gallery/css/least.min.css" rel="stylesheet" type="text/css")
 link(  href="gallery/css/main.css" rel="stylesheet" type="text/css" )
 script( type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
 script( src="gallery/js/least.min.js"       )
 script( src="gallery/js/jquery.lazyload.js")
 //-  bootstrap
 link(  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
 script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
 //-  jquery для autocomplete
 script( src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
 link( rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
 //-  для модального окна
 link( rel="stylesheet" type="text/css" href="modal_css/modal.css")
 style.
   .rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }