extends layouts/main.jade

block content
  h1 Login to the system
  //- a(href='private') this is private page. You can try to open it.
  //- include partials/login.jade
  include partials/login.jade
  //- a(href='/') SignUp
