extends layouts/main.jade

block content
  h1 Registration
  //- a(href='private') this is private page. You can try to open it.
  //- include partials/login.jade
  include partials/register.jade
  //- a(href='signin') SignIn