* {
    margin: 0;
    padding: 0;
}
/* custom styles */
section {
    background-color: rgb(255, 255, 255);
}
section li a,
section li .overLayer, section li .infoLayer {
    height: 190px;
    width: 250px;
}
section li .infoLayer ul li {
    padding: 3px 0 0;
}